.container__header {
  height: 69px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  .header__logo--link {
    display: block;
    width: 160px;
    height: 29px;
    cursor: pointer;
    .header__logo--img {
      max-width: 100%;
    }
  }
}
