@use "../../../styles.scss" as mainStyle;

.container__main {
  overflow: hidden;
  margin-top: 69px;
  background-color: mainStyle.$header_footer_color;
  @media (min-width: 1440px) {
    margin-top: 110px;
  }
  @media (min-width: 1960px) {
    margin-top: 130px;
  }
}
