<div class="container__intro">
  <div class="container--image">
    <h3 class="intro--header">
      <span class="one">TBC x USAID</span>
      <span class="two">ტექნოლოგიური</span>
      <span class="three">განათლებისთვის</span>
    </h3>
  </div>
  <div class="container__description">
    <div class="container__description--content">
      <p class="intro--paragraph">
        „ TBC x USAID - ტექნოლოგიური განათლებისთვის “ პროგრამა საინფორმაციო
        ტექნოლოგიებით დაინტერესებულ ადამიანებს გთავაზობთ სრულად დაფინანსებულ
        ონლაინ საგანმანათლებლო პრაქტიკულ კურსებს სხვადასხვა ICT მიმართულებით.
        წარმატებულ კურსდამთავრებულებს ეძლევათ შესაძლებლობა დასაქმდნენ თიბისისა
        და მის პარტნიორ კომპანიებში.
      </p>
      <a class="intro--btn">გაიგე მეტი</a>
    </div>
  </div>
</div>
